*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gagalin', sans-serif;
}

body{
    background-color: #431008;
}

.container{
    display: flex;
    position: sticky;
    top: 0px;
    z-index: 100;
}

.logo {
    position: relative;
    left: 10px;
    height: 70px;
    width: auto;
    cursor: pointer;
}

.navbar{
    position: absolute;
    right: 40px;
}

.menu{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
    margin-top: 25px;
    list-style: none;
}

.white-btn{
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: background-color 1s ease;
    display: inline-block;
}

.white-btn:hover{
    color: #FF8C00;
    cursor: pointer; 
    transform: scale(1.1);
    text-decoration: underline;
    text-underline-offset: 6px;
    text-decoration-thickness: 2px;
}

.orange-btn{
    padding: 7px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 18px;
    background-color: #FF8C00;
    color: #431008;
    text-decoration: none;
    border-radius: 6px;
    margin-left: 10px;
    transition: background-color 0.2s ease;
    display: inline-block;
}

.orange-btn:hover{
    color: #431008;
    background-color: #ffffff;
    cursor: pointer; 
    transform: scale(1.1);
}