*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gagalin', sans-serif;
}

body{
    background-color: #431008;
}

.container{
    display: flex;
    position: sticky;
    top: 0px;
    z-index: 100;
}

.logo {
    position: relative;
    left: 10px;
    height: 75px;
    width: auto;
    cursor: pointer;
}

.navbar{
    position: absolute;
    right: 40px;
}

.menu{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 60px;
    margin-top: 25px;
    list-style: none;
}

.white-btn{
    color: white;
    text-decoration: none;
    font-size: 22px;
}

.orange-btn{
    padding: 7px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 22px;
    background-color: #FF8C00;
    color: #000000;
    text-decoration: none;
    border-radius: 6px;
    margin-left: 10px;
}