*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gagalin', sans-serif;
}

body{
    background-color: #431008;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: none; /* Firefox */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
    display: none; /* Chrome, Edge, Safari */
}

.container{
    display: flex;
    position: sticky;
    top: 0px;
    z-index: 100;
    justify-content: space-between;
    align-items: center;
}

.logo {
    position: relative;
    left: 30px;
    height: 70px;
    width: auto;
    cursor: pointer;
}

.navbar{
    position: relative;
    right: 70px;
}

.menu{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
    margin-top: 25px;
    list-style: none;
}

.white-btn{
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: background-color 1s ease;
    display: inline-block;
}

.white-btn:hover{
    color: #FF8C00;
    cursor: pointer; 
    transform: scale(1.1);
    text-decoration: underline;
    text-underline-offset: 6px;
    text-decoration-thickness: 2px;
}

.orange-btn{
    padding: 7px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 18px;
    background-color: #FF8C00;
    color: #431008;
    text-decoration: none;
    border-radius: 6px;
    margin-left: 10px;
    transition: background-color 0.4s ease;
    display: inline-block;
}

.orange-btn:hover{
    color: #431008;
    background-color: #ffffff;
    cursor: pointer; 
    transform: scale(1.1);
}

.foto1{
    position: absolute;
    top: -60px;
    left: 0;
    width: 100%;
    height: 120%;
    
    z-index: 1;
}

.foto2{
    width: 110%;
}

.text-main{
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 2;
    left: clamp(2rem, 4vw, 6rem);
    top: 20vh;
}

@media (max-width: 768px) {
    .text-main {
        left: 40%;
        transform: translateX(-50%);
        top: 30vh;
    }
}

.text-w{
    display: flex;
    color: #ffffff;
    font-size: clamp(2rem, 7vw, 6rem);
    transform: rotate(-8deg);
    cursor: pointer;
}

.text-o{
    font-size: clamp(2rem, 7vw, 6rem);
    color: #FF8C00;
    transform: rotate(-8deg);
    cursor: pointer;
}

@media (max-width: 768px) {
    .text-w,
    .text-o {
        font-size: clamp(2.5rem, 14vw, 4rem);
    }
}

.btn-main{
    position: relative;
    padding: 1rem 2rem;
    margin-top: 3rem;
    z-index: 2;
    font-size: clamp(1rem, 2.5vw, 1.5rem);
    background-color: #FF8C00;
    color: #431008;
    text-decoration: none;
    border-radius: 6px;
    transition: background-color 0.4s ease;
}

.btn-main:hover{
    color: #431008;
    background-color: #ffffff;
    cursor: pointer; 
    transform: scale(1.1);
}